body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(180deg, #010214 0%, #5D32D9 40%, #9170F0 80%);
    font-family: 'Nunito', sans-serif;
    color: #FFFFFF;
  }
  

  h1 {
    color: white;            /* Cor do título em branco */
    text-align: center;      /* Alinhamento centralizado */
    margin-top: 150px;       /* Espaçamento do topo para não ficar muito em cima */
    font-size: 60px;         /* Definir um tamanho adequado para o título */
  }
  
  
  p {
    color: white;
    text-align: center;
  }
  
  .container {
    padding-top: 20px;
  }
  
  .text-left {
    text-align: left;
  }
  
  .form-label {
    font-weight: bold;
    color: white;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="date"],
  input[type="submit"] {
    width: 100%;
    margin-bottom: 15px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .inline {
    display: inline-block;
  }
  